*{
    margin:0;
    padding:0;
    

}
.filtroHeader{
    background-color: rgba(0,0,0,.2);
    height:80vh;
    width:100%;
    position: relative;
    margin-bottom:4rem;
}
.filtroHeader:before {
    content: '';
    background: url('../../assets/fundo.jpg') no-repeat center center/cover;
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    opacity:20px;
    
    
}
.filtroHeader .content {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    

}
.filtroHeader h1{
    font-size:3.5rem;
    text-transform: capitalize;
}
.filtroHeader .findText{
    margin: 1.5rem;
    font-size: 1.4rem;
    color: rgba(63, 61, 58, 0.61);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.281);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;

}
.titulon{
    color: rgba(135, 79, 42, 0.578);
    text-transform: 700;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.281);
   
 
 }



.procurar{
    display: flex;
    border: 1px solid rgb(105, 85, 60);
    justify-content:space-between;
    align-items: center;
    padding: 4px;
    border-radius: 8px;
    background-image: linear-gradient(to right top, #e7c0112b, #eacd4d43, #edd77659, #f0e29c39, #f4ecc124, #f5edc64c, #f5efcb11, #f6f0d034, #f4eab63d, #f1e39c51, #efdd8242, #ecd6675b);
}

.procurar input[type=text]{
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2 rem;
    -webkit-text-stroke: 1px rgba(2, 2, 2, 0.191);
    
    
}

.procurar input[type=text]:focus{
    outline: none;
    

    

}

.procurar label {
    padding: 0 14px 0 8px;
}
.procurar .radio{
    display: flex;
    font-family: 'Roboto Condensed', sem serifa;
    font-weight: 700;
    align-items: center;
    color: rgba(184, 153, 50, 0.584);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.19);
    
}

.procurar button {
    border: 1px solid ;
    background-image: linear-gradient(to right top, #e7c111, #eacc4d, #edd776, #f0e29c, #f4ecc1, #f5edc6, #f5efcb, #f6f0d0, #f4eab6, #f1e39c, #efdc82, #ecd567);
    color:rgb(198, 187, 153);
    padding: 10px;
    border-radius: 8px;
    cursor:pointer;
}
.btn {
    color: rgb(199, 154, 56);
    width:18%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    margin-top:50px;
    background-image: linear-gradient(to right top, #e7c111, #eacc4d, #edd776, #f0e29c, #f4ecc1, #f5edc6, #f5efcb, #f6f0d0, #f4eab6, #f1e39c, #efdc82, #ecd567);
    border:solid rgba(216, 206, 206, 0.38);
    border-radius:8px;
    font-size: 0.8rem;
    transition: .7s;
    cursor: pointer;
    display:inline;
  
   
  
  }
  
  .btn:active {
    transform: translate(5px);
    box-shadow: 0px 0px 1px rgba(0,0,0,0,.2);
    border-bottom:none;
  }

@media screen and (max-width: 940px) {
    .filtroHeader {
        height: 70vh;
        

    }
    .filtroHeader h1{
        font-size:2.5rem;
    }
    .procurar input[type=text] {
        width:100%;
    }
}