.footer {
    width: 100%;
    padding: 2rem 0;
    background-image: linear-gradient(to right, #9b7c4a, #a98961, #b59878, #c0a690, #cab6a7, #cab6a7, #cab6a7, #cab6a7, #c0a690, #b59878, #a98961, #9b7c4a);
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(2,0fr);
    gap: 1.2rem;
    position:relative;
    left: 640px;
    

}

.footer .col {
    margin: auto;
}

.footer h3 {
    margin: .8rem 0
}

.footer p {
    margin: .4rem 0;
}

.footer .social {
    text-align: center;
}

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: rgb(41, 31, 19);
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
    }

    .footer .icon {
        margin: 1rem;
    }
}