.footer {
    width: 100%;
    padding: 2rem 0;
    background-image: linear-gradient(to right, #9b7c4a, #a98961, #b59878, #c0a690, #cab6a7, #cab6a7, #cab6a7, #cab6a7, #c0a690, #b59878, #a98961, #9b7c4a);
}

.footer .container {
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.footer .col {
    padding: 0 3% 0 3%;
}

.footer h3 {
    margin: .8rem 0
}

.footer p {
    margin: .4rem 0;
}

.footer .social {
    text-align: center;
}

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: rgb(41, 31, 19);
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
    }

    .footer .icon {
        margin: 1rem;
    }
}