*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
    background:rgba(195, 171, 151, 0.576);    
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    font-size: 45px;
    color: rgb(165, 165, 105);
    font-family: 'Times New Roman', Times, serif;
    padding: 4%;
}

.topicos{
    width: 80%;
    height: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(141, 141, 91);
    text-align: center;
}



.lista{
    list-style-type:disc;
    margin-left: 5%;
}

.somos{
    font-size: 20px;
    font-style: italic;
    text-align: left;
    margin-left: 20px;
}

.li{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}

.listaDeValores{
    list-style-type:square;
    font-size: 18px;
    text-align: left;
    margin-left: 20px;
}