*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.containerInicio{
    width: 450px;
    height: 600px;
    background-color: rgba(243, 241, 231, 0.279);
    border: 2px solid rgba(243, 241, 231, 0.279);
    border-radius: 7%;
    overflow: hidden;
    padding: 40px 60px 40px 60px;
}

.titulo{
    padding:30px;

}

.formTitulo{
    width: 450px;
    height: 600px;
    background-color: rgba(243, 241, 231, 0.279);
    border: 2px solid rgba(243, 241, 231, 0.279);
    border-radius: 7%;
    overflow: hidden;
    padding: 40px 60px 40px 60px;
}

.btnForm{
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    margin-top:10px;
    color: rgb(144, 114, 84);
    background-color: rgb(41, 31, 19);
    border:solid rgba(216, 206, 206, 0.38);
    border-radius:8px;
    font-size: 0.8rem;
    transition: .7s;
    cursor: pointer;
} 

.Btns{
  width:50%;  
}

.cards{
    z-index: -1;
    width: 100%;
    min-height: 50vh;
    background:rgba(195, 171, 151, 0.576);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.image{
    width: 20%;
    size-adjust: 100px;
    padding-right: 10px;
    justify-content: space-between;
    border: solid;
}

.bee{
    width:50%
}