*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background:rgba(195, 171, 151, 0.576);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.containerInicio{
    width: 450px;
    height: 600px;
    background-color: rgba(243, 241, 231, 0.279);
    border: 2px solid rgba(243, 241, 231, 0.279);
    border-radius: 7%;
    overflow: hidden;
    padding: 40px 60px 40px 60px;
}

.titulo .formTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:30px;
    text-align: center;
    color:rgb(91, 89, 87);
    line-height: 1.2;
}

.formTitulo img{
    width: 100px;
    margin-top: 5px;
    padding: 3px;
}

.baseForm{
    width: 100%;
}

.formularios{
    width: 100%;
    position: relative;
    border-bottom: 2px solid white;
    margin-bottom: 37px;
}

.input{
    font-size: 15px;
    color: white;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.focusInput{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: rgb(139, 119, 119);
}

.focusInput::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    background: -webkit-linear-gradient(to left, rgb(236, 221, 4), rgb(175, 223, 65), rgb(122, 143, 74));
    background: -o-linear-gradient(to left, rgb(236, 221, 4), rgb(175, 223, 65), rgb(122, 143, 74));
    background: -moz-linear-gradient(to left, rgb(236, 221, 4), rgb(175, 223, 65), rgb(122, 143, 74));
    background: linear-gradient(to left, rgb(236, 221, 4), rgb(175, 223, 65), rgb(122, 143, 74));
}

.focusInput::after{
    font-size: 15px;
    color:  rgba(243, 241, 231, 0.279);
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input:focus{
    outline: 0;
}

.input:focus + .focusInput::after{
    top: -20px;
}

.has-value + .focusInput::after{
    top: -20px;
}

.input:focus + .focusInput::before{
    width: 100%;
}

.hasValue + .focusInput::before{
    width: 100%;
}



.containerFormulariosBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}

.formulariosBtn{
    font-size: 15px;
    color: rgba(91, 89, 87, 0.812);
    text-transform: 700;
   
    border: none;
    border-radius: 7px;
    /*background-color:rgb(121, 110, 110);*/
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    background-image: linear-gradient(to right, #9b7c4a, #a98961, #b59878, #c0a690, #cab6a7, #cab6a7, #cab6a7, #cab6a7, #c0a690, #b59878, #a98961, #9b7c4a);
}

.formulariosBtn:hover{
    cursor: pointer;
}

.textoCentro{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.texto1{
    font-size: 15px;
    color: white;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}

.texto2{
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
}