*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
  
.container {
    background:rgba(195, 171, 151, 0.576); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;   
}

.titulo{
    text-align: center;
    font-size: 45px;
    color: rgb(165, 165, 105);
    font-family: 'Times New Roman', Times, serif;
    padding: 2%;
}
  
.time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.eliane{
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(141, 141, 91);
    text-align: center;
    margin: 3%;
    padding: 3%;
}

.elianeImg img{
    width: 75%;
    height: 75%;
}

.jocelia{
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(141, 141, 91);
    text-align: center;
    margin: 3%;
    padding: 3%;
}

.joceliaImg img{
    width: 75%;
    height: 75%;
}

.luciana{
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(141, 141, 91);
    text-align: center;
    margin: 3%;
    padding: 3%;
}

.lucianaImg img{
    width: 75%;
    height: 75%;
}

.lucas{
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(141, 141, 91);
    text-align: center;
    margin: 3%;
    padding: 3%;
}

.lucasImg img{
    width: 75%;
    height: 75%;
}

.raphael{
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background:rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(141, 141, 91);
    text-align: center;
    margin: 3%;
    padding: 3%;
}

.raphaelImg img{
    width: 75%;
    height: 75%;
}


.links{
    display: flex;
    flex-direction: column;
    justify-content:center;
}